.alimentos{
    border: 2px solid orangered; /*colcoca borda pra vizualizar a caixa dos alimentos*/
    width: 300px; /*conserta a largura das caixas* dos alimentos*/
    
    background-color: white;
    color: #331612;
    margin-top: 80px;
    height: 200px;
    margin-bottom: 80px;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .descricao{
        text-align: center;
        width: 200px;
    }
    .nome{
        font-weight: bolder;
    }
    .preco{
        color: #b61f12;
        font-weight: bolder;
    }
    
}