.app {
    background-color: #e5b061; /*colocar uma cor de fundo pro app*/
    height: 1200px; /*faz o app preencher toda a página praticamente*/
    padding-top: 0.5em; /*faz preencher o topo que faltava*/

    display: flex; /*faz o display ser flexivel*/
    align-items: center; /*deixa o conteúdo centralizado horizontalmente*/
    flex-direction: column; /*deixa o conteúdo centralizado verticalmente*/

    h1 {
        font-size: 70px ; /*aumenta o tamanho do titulo*/
    }
}

.menu{
    border: 3px solid blue; /*bota borda ilustrativa pro menu*/
    background-color: #f2e1c9; /*coloca uma cor de fundo pro menu*/
    display: flex; /*torna o display do menu flexível*/
    width: 95%; /*faz o menu pegar quase toda a largura da página*/

    flex-wrap: wrap;
    justify-content: space-evenly;
}